<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CMLARE</title>
      <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!--&lt;!&ndash;Bootstra[ JS&ndash;&gt;-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #l {
         position:absolute;
         left:1.5em;
         z-index:6;
         line-height:1.5em;
         font-size:80%;
         bottom:7.5em;
         display:table-cell;
         background:#777;
         background:linear-gradient(90deg,#555,#999,#555)
        }
        #l span {
         padding:0 .25em;
         display:block;
         text-align:center
        }
        #l .pq {
         color:#000;
         background:#fff;
         height:40px;
        }
        #l .yy {
         padding:0 .5em;
         font-family:Helvetica Neue,Arial,Helvetica,sans-serif;
         font-weight:700;
         height:40px
        }
        #l.rc {
         cursor:pointer
        }
        #l.rc .pq:after {
         content:"\203a";
         transition:.25s;
         margin-left:-.5em;
         width:.5em;
         text-align:right;
         display:inline-block;
         opacity:0
        }
        #l.rc:hover .pq:after {
         opacity:1;
         margin-left:0
        }

    </style>
  </head>

  <body>
    <div id="floating-panel">
         <div class="row justify-content-md-center">
              <form action="/cmlare/" method="POST" enctype="multipart/form-data" id="upload-form">
                  {% csrf_token %}
                    <div class="form-group">
                            <div class="col">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                  <label class="btn btn-secondary active" id="option1-label">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> All class Supervised Ensemble
                                  </label>
                                  <label class="btn btn-secondary" id="option2-label">
                                    <input type="radio" name="options" id="option2" autocomplete="off" onclick="document.getElementById('upload-form').action='data/ann';"> Wet Dry ANN
                                  </label>
                                  <!--<label class="btn btn-secondary">-->
                                    <!--<input type="radio" name="options" id="option3" autocomplete="off" onclick="document.getElementById('upload-form').action='data/kr';"> KR Relation-->
                                  <!--</label>-->
                                </div>
                           </div>
                    </div>
                    <div class="form-group">
                          <div class="form-inline">
                              <div class="col">
                                  <div class="form-group">
                                    <input type="file" name="files" id="js-upload-files">
                                  </div>
                                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                              </div>
                          </div>
                    </div>
                </form>
            </div>
    </div>
    <div id="l" title="Change units to “inch”" class="rc">
        <span class="pq" style="">mm</span>
        <!--<span class="yy" style="background: rgb(84, 16, 41) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">50</span>-->
        <!--<span class="yy" style="background: rgb(147, 23, 78) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">40</span>-->
        <span class="yy" style="background: rgba(224,221,18,0.87) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">10+</span>
        <span class="yy" style="background: rgba(224,58,188, 0.87) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">10</span>
        <!--<span class="yy" style="background: rgba(233, 123, 72, 0.87) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">15</span>-->
        <span class="yy" style="background: rgba(234, 164, 62, 0.87) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">7</span>
        <span class="yy" style="background: rgba(235, 192, 56, 0.87) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">5</span>
        <!--<span class="yy" style="background: rgba(220, 234, 55, 0.87) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">6</span>-->
        <span class="yy" style="background: rgba(149, 219, 70, 0.87) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">2.5</span>
        <!--<span class="yy" style="background: rgba(78, 194, 98, 0.87) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">2</span>-->
        <span class="yy" style="background: rgba(64, 160, 180, 0.87) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">1</span>
        <span class="yy" style="background: rgba(67, 105, 196, 0.75) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">0.5</span>
        <!--<span class="yy" style="background: rgba(85, 78, 177, 0.5) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">0.2</span>-->
        <!--<span class="yy" style="background: rgba(82, 71, 141, 0.38) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">0.1</span>-->
        <span class="yy" style="background: rgb(209, 92, 92) none repeat scroll 0% 0%; color: rgb(255, 255, 255);">0</span>
        <div id="h"></div>
    </div>
    <div id="map"></div>
    <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">
     $(document).ready(function(){
        $('#option1-label').click(function(){
            console.log("Ensemble xgboost");
            results = allclass;
            <!--console.log(results)-->
            initMap();

        });
        $('#option2-label').click(function(){
            console.log("ANN");
            results = wetDryNeural;
            <!--console.log(results)-->

            initMap();

        });
        });

      var map, heatmap;
        var allclass = '{{allclass|escapejs }}';
            allclass = JSON.parse(allclass);

        var wetDryNeural = '{{wetDry|escapejs}}';
            wetDryNeural = JSON.parse(wetDryNeural);

        var results = allclass;



      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 6.947148, lng: 80.072893},
          <!--mapTypeId: 'roadmap'-->
          <!--mapTypeId: 'terrain'-->
          <!--mapTypeId: 'hybrid'-->
           mapTypeId: 'satellite'
        });

         // Class A
        var heatmapA = new google.maps.visualization.HeatmapLayer({
          data: getPoints("A"),
          dissipating: true,
          radius: 15
        });
        heatmapA.setMap(map);
        var gradientA = [
          'rgba(209, 92, 92, 0)',
          'rgba(224, 100, 100, 1)',
          <!--'rgba(124,103,104, 0.6)',-->
          <!--'rgba(142,131,131,0.8)',-->
        ]
        heatmapA.set('gradient', gradientA);
        <!--heatmapA.set('opacity', 1);-->

        // Class B
        var heatmapB = new google.maps.visualization.HeatmapLayer({
          data: getPoints("B"),
          dissapating: true,
          radius: 15
        });
        heatmapB.setMap(map);
        var gradientB = [
          'rgba(67, 105, 196, 0)',
          'rgba(67, 105, 196, 1)',
        ]
        heatmapB.set('gradient', gradientB);

        // Class C
         var heatmapC = new google.maps.visualization.HeatmapLayer({
          data: getPoints("C"),
          dissapating: true,
          radius: 15
        });
        heatmapC.setMap(map);
        var gradientC = [
          <!--'rgba(67, 127, 211, 0.2)',-->
          'rgba(64, 160, 180, 0)',
          'rgba(64, 160, 180, 1)',
        ]
        heatmapC.set('gradient', gradientC);

        // Class D
        var heatmapD = new google.maps.visualization.HeatmapLayer({
          data: getPoints("D"),
          dissapating: true,
          radius: 10
        });
        heatmapD.setMap(map);
        var gradientD = [
          'rgba(97,226,68, 0)',
          <!--'rgba(103,229,75, 0.5)',-->
          'rgba(97, 226, 68, 1)',

        ]
        heatmapD.set('gradient', gradientD);

        // Class E
        var heatmapE = new google.maps.visualization.HeatmapLayer({
          data: getPoints("E"),
          dissapating: true,
          radius: 15
        });
        heatmapE.setMap(map);
        var gradientE = [
          'rgba(206,206,51, 0.2)',
          <!--'rgba(211,211,61, 0.5)',-->
          'rgba(206,206,51, 0.2)',

        ]
        heatmapE.set('gradient', gradientE);

        // Class F
        var heatmapF = new google.maps.visualization.HeatmapLayer({
          data: getPoints("F"),
          dissapating: true,
          radius: 15
        });
        heatmapF.setMap(map);
        var gradientF = [
          'rgba(209,147,41, 0)',
          <!--'rgba(216, 155,49, 0.5)',-->
          'rgba(209,147,41, 1)',

        ]
        heatmapF.set('gradient', gradientF);

        // Class G
        var heatmapG = new google.maps.visualization.HeatmapLayer({
          data: getPoints("G"),
          dissapating: true,
          radius: 15
        });
        heatmapG.setMap(map);
        var gradientG = [
          'rgba(224,58,188, 0)',
          <!--'rgba(232,67,196, 0.5)',-->
          'rgba(224,58,188,1)',

        ]
        heatmapG.set('gradient', gradientG);

        // Class H
        var heatmapH = new google.maps.visualization.HeatmapLayer({
          data: getPoints("H"),
          dissapating: true,
          radius: 15
        });
        heatmapH.setMap(map);
        var gradientH = [
          'rgba(224,221,18, 0)',
          <!--'rgba(211,30,27, 0.5)',-->
          'rgba(224,221,18, 1)',

        ]
        heatmapH.set('gradient', gradientH);

      }


      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }

      function getPoints(type) {
        var points = [];
        for(var i = 0; i < results.length; i++) {
            var result = results[i];
            if(result.predictions == type){
                 points.push(new google.maps.LatLng(result.midLat, result.midLong))
            }
        }
        return points;
      }



    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT-ihs1AcQioKs_74BqCeW6d2WqtEaNgc&libraries=visualization&callback=initMap">
    </script>
  </body>
